[submodule "submod1"]
	path = submod1
	url = https://github.com/cockroach6/submod1
[submodule "submod2"]
	path = submod2
	url = https://github.com/cockroach6/submod2
[submodule "submod3"]
	path = submod3
	url = https://github.com/cockroach6/submod3
